.manage-clinic-container {



    .ms-title {
        text-align: center;
        margin: 15px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }

    .row {
        div {
            margin: 0;
        }
    }

    .btn-save-clinic {
        float: right;
        margin-top: 30px;
        padding: 5px 15px;
        border-radius: 3px;
        margin-bottom: 50px;
    }
}